@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    scroll-behavior: smooth;
    outline:none;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

:root{
    --text-color:#f5f5f5;
    --hover-color:#12f7ff;
    --bg-color:#250821;
    --secon-bg-color: #2a2e33;
    --big-font:2.5rem;
    --norma-font:2rem;
    --neon-box-shadow: 0 0 .5rem #12f7ff;
    --h2-font: 3rem;
    --font-neon-text-shadow:0 0 10px rgba(18,247, 255, 0.3),
    0 0 20px rgba(18,247, 255, 0.3),
    0 0 30px rgba(18,247, 255, 0.3),
    0 0 40px rgba(18,247, 255, 0.3),
    0 0 70px rgba(18,247, 255, 0.3),
    0 0 80px rgba(18,247, 255, 0.3),
    0 0 100px rgba(18,247, 255, 0.3),
    0 0 150px rgba(18,247, 255, 0.3);

}

html{
    font-size:62.5%;
    overflow-x:hidden;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    color:var(--text-color);
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display: flex;
    padding: 2rem 9%;
    align-items:center;
    justify-content:space-between;
    z-index:100;
    background-color:var(--secon-bg-color);
}

.header .sticky{
    border-bottom: 0.1rem solid rgba(0,0,0, 0.21);
}

.logo{
    font-size:2.5rem;
    font-weight:600;
    letter-spacing:1px;
    cursor:default;
}


.logo span{
    color: var(--hover-color);
}

#menu-icon{
    font-size:3.6rem;
    color:var(--text-color);
    display: none;
}

span{
    color:rgb(53, 250, 138);
}


.navbar a{
    color:var(--text-color);
    font-size:1.7rem;
    margin-left:4rem;
    transition: 0.3s;

}

.navbar a:hover{
    color: rgb(75, 249, 75);
    text-shadow: 0 0 9px rgba(18,247, 255, 0.6),
    0 0 20px rgba(18,247, 255, 0.6),
    0 0 30px rgba(18,247, 255, 0.6),
    0 0 40px rgba(18,247, 255, 0.6),
    0 0 70px rgba(18,247, 255, 0.6),
    0 0 80px rgba(18,247, 255, 0.6),
    0 0 100px rgba(18,247, 255, 0.6),
    0 0 150px rgba(18,247, 255, 0.6);

}

.navbar a.active{
    color:rgb(75, 249, 75);
}


section{
    min-height:100vh;
    padding:10rem 9% 2rem;

}

.home{
    display:flex;
    justify-content: center;
    align-items:center;

}

.home-content h3{
   font-size:3.2rem;
   font-weight: 700;

}

.home-content span{
    color:#40fd56;
}

.home-content h1{
    font-size: 5.6rem;;
    font-weight: 700;
    line-height: 1.3;;
}

.home-content p{
    font-size:1.6rem;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

.home-image img{
    width:35vw;
    animation: floatImage 4s ease-in-out infinite;
}

.social-icons a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:4rem;
    height:4rem;
    background: transparent;
    border: 0.2rem solid var(--hover-color);
    border-radius: 50%;
    font-size:2rem;
    color:var(--hover-color);
    margin: 3rem 1.5rem 3rem 0;
    transition:0.5s ease;
}


.social-icons a:hover{
    background: var(--hover-color);
    color:var(--secon-bg-color);
    box-shadow: 0 0 1rem var(--hover-color);
}

.btn{
    display:inline-block;
    padding: 1rem 2.8rem;
    background: var(--hover-color);
    border-radius:4rem;
    box-shadow:0 0 1rem var(--hover-color);
    font-size:1.6rem;
    color:var(--secon-bg-color);
    letter-spacing: 0.1rem;
    font-weight: bold;
    transition:0.45s ease;

}

.btn:hover{
    box-shadow:none;
}

.about{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:2rem;
}

.about-image img{
    width:35vw;
}

.heading{
    text-align:center;
    font-size:4.5rem;

}

.about-content h2{
    text-align:left;
    line-height:1.2;
    font-size:3.3rem;
}

.about-content p{
    font-size:1.6rem;
    margin: 2rem 0 3rem;
}

.skills .main-text {
    text-align: center;
}


.skills .main-text h2 {
    margin-top: 5px;
    color:rgb(246, 246, 98);
    font-size:2rem;
}

.skills-main{
    
    display:grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
    column-gap:50px;
    }


.skill-bar{
    margin-bottom:2.3rem;

}

.skills-main h3{
    font-size:var(--norma-font);
    margin-bottom: 2rem;
    text-align:center;
}

.skill-left .skill-bar .info{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0 10px;
}


.skill-left p{
    font-size:1.3rem;
}
.skill-left .skill-bar .bar{
    width:100%;
    height:10px;
    background-color: var(--secon-bg-color);
    border-radius:25px;
    margin-top:10px;
    position: relative;
}

.skill-bar .bar span{
    width:50%;
    height:100%;
    position: absolute;
    left:0;
    background: var(--hover-color);
    border-radius:25px;
    box-shadow: var(--neon-box-shadow);
}

.skill-bar .bar .python{
    width:92%;
    animation: python 2s;
}

.skill-bar .bar .cplusplus{
    width:90%;
    animation: cplusplus 3s;
}

.skill-bar .bar .csharp{
    width:60%;
    animation: csharp 4s;
}

.skill-bar .bar .javascript{
    width:82%;
    animation: javascript 5s;
}

.skill-bar .bar .sql{
    width:86%;
    animation: sql 6s;
}

.skill-bar .bar .html{
    width:85%;
    animation: html 7s;
}

.skill-bar .bar .php{
    width:57%;
    animation: php 8s;
}

.skill-bar .bar .tableau{
    width:72%;
    animation: tableau 9s;
}

.skill-bar .bar .r{
    width:70%;
    animation: r 10s;
}

.skill-bar .bar .css{
    width:88%;
    animation: css 11s;
}

.professional{
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align:center;
}

.box{
    margin:10px 0;
    flex:1 1 15rem;
    position:relative
}

.box .text{
    text-align:center;
    color:white;
    font-size: 1.2rem;
    font-weight: bold;
}

.box .text big{
    font:400;
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
}

.box .text .medium{
    display:block;
    font-weight:bold;
    font-size:2.1rem;


}

.circle{
    width:100%;
    height:120px;
    display:flex;
    justify-content:center;
    align-items: center;
}

.circle .points{
width:2px;
height:10px;
background-color:var(--secon-bg-color);
position:absolute;
border-radius:3px;
transform:rotate(calc(var(--i)*var(--rot))) translateY(-45px);

}

.points.marked{
    animation:glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}


.projects h2{
    margin-bottom:4rem;
    text-align: center;
    font-size: 24px;

}

.project-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items:center;
    gap:2.9rem;
}

.project-container .project-box{
    position:relative;
    border-radius: 2rem;
    box-shadow: 0 0 0.85rem rgb(240, 164, 66);
    overflow:hidden;
    display:flex;
}

.project-box img{
    width:100%;
    transition: 0.5s ease;
}

.project-box:hover img{
    transform:scale(1.1);
}

.project-box .project-layer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    width:100%;
    height:100%;
    background:linear-gradient(rgba(0,0,0,0.23), var(--secon-bg-color));
    display:flex;
    overflow:hidden;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:30px;
    transform:translateY(100%);
    transition:0.5s ease;

}

.project-box:hover .project-layer{
    transform:translateY(0);
}

.project-box .project-layer h4,
.project-box .project-layer p {
    text-align: center; 
    color: white; 
    font-weight: 700;
    margin-top: 3px;
    font-size:13px;
    
}

.project-box .project-layer h4{
    text-decoration: underline;
}

.project-box .project-layer img {
    width: 20px;
    display:flex;
    margin-right:10px;

}

.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:12px;
}

.imp-links{
    display:flex;
    justify-content: space-between;
    align-items:center
}

.project-box .project-layer a {
    color: white; 
    text-decoration: none; 
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size:12.5px;
}

.project-box .project-layer a i {
    margin-right: 5px;
    font-size: 19px;
    text-shadow: yellow;
}

.imp-links a i.bxl-github {
    color: #d2fa06; 
}

.imp-links a i.bx-link-external {
    color: #07f923; 
}
.contact h2{
    margin-bottom:2.5rem;
    text-align:center;
    font-size:30px;
}

.contact form{
    width:90%;
    margin:1rem auto;
    text-align:center;
    margin-bottom:3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;


}

.contact form .input-box input,
.contact form  textarea{
    width:100%;
    padding:1.5rem;
    font-size: 1.6rem;
    color:black;
    background:rgb(186, 186, 247);
    border-radius:1.2rem;
    margin:0.7rem 0;

}

.contact form .input-box input{
    width:49%;
}

.contact form  textarea{
    resize:none;
}


.contact form .btn{
    margin-top:2rem;
    cursor: pointer;
    font-weight: 800;
}

.footer{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom:0;
    padding:1.1rem 9%;
    background: var(--secon-bg-color);
}

.footer-text p{
    font-size:1.4rem;
    text-align:center;
}

.footer-iconTop a{
    display:inline-flex;
    justify-content: center;
    align-items:center;
    padding: 0.8rem;
    background: var(--hover-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;

}

.footer-iconTop a:hover{
    box-shadow: 0 0 0.92rem var(--hover-color);
}

.footer-iconTop a i{
    font-size:2.4rem;
    color:var(--secon-bg-color);
}



/* Media screens (in order to make website more responsive)  */

@media (max-width: 1200px){
    html{
        font-size:55%;
    }
}

@media (max-width:991px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding:10rem 3% 2rem;
    }

    .project{
        padding-bottom:7rem;
    }

    .footer{
        padding: 2rem 3%;
    }

    .contact{
        min-height:auto;
    }
}

@media (max-width:768px){
    #menu-icon{
        display:block;

    }

    .navbar{
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        padding:1rem 3%;
        background: var(--secon-bg-color);
        border-top: 0.1rem solid rgba(0,0,0 0.21);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0 0.21);
        display:none;
    }

    .navbar.active{
        display:block;
    }
    .navbar a{
        display:block;
        font-size:2rem;
        margin:3rem 0;
    }

    .home{
        flex-direction:column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size:5rem;
    }

    .home-image img{
        width:70vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column-reverse;
    }

    .about img{
        width:70vw;
        margin-top:4rem;
    }

    .projects h2{
        margin-bottom:3rem;
    }

    .skills-main{
        grid-template-columns: 1fr;
    }
    .project-container{
        grid-template-columns: repeat(2, 1fr);

    }

    .project-container .project-box {
        flex-direction: column; 
    }

    .project-container .project-box .project-layer {
        width: 100%; 
        box-sizing: border-box; 
    }

    .project-container .project-box .icon-container {
        display: flex;
        justify-content: center; 
    }

    .project-container .project-box .imp-links {
        text-align: center; 
    }

    .project-box .project-layer h4,
    .project-box .project-layer p {
        text-align: center; 
        color: white; 
        font-weight: 700;
        margin-top: 3px;
        font-size:10px;
    
}
}

@media (max-width:617px){
    .project-container{
        grid-template-columns: 1fr;
}
}

@media (max-width:450px){
    html{
        font-size:50%;
    }

    .contact form .input-box input{
        width:100%;
    }
}

@media (max-width:365px){
    .home-image img{
        width:90vw
    }

    .about-image img{
        width:90vw;
    }
    
    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}


/* Keyframes (for the animations) */
@keyframes python{
    0%{
        width:0%;
    }
    100%{
        width:92%
    }
}

@keyframes cplusplus{
    0%{
        width:0%;
    }
    100%{
        width:89%
    }
}

@keyframes csharp{
    0%{
        width:0%;
    }
    100%{
        width:60%
    }
}

@keyframes javascript{
    0%{
        width:0%;
    }
    100%{
        width:78%
    }
}

@keyframes sql{
    0%{
        width:0%;
    }
    100%{
        width:86%;
    }
}

@keyframes html{
    0%{
        width:0%;
    }
    100%{
        width:88%
    }
}

@keyframes php{
    0%{
        width:0%;
    }
    100%{
        width:57%
    }
}

@keyframes tableau{
    0%{
        width:0%;
    }
    100%{
        width:71%
    }
}

@keyframes r{
    0%{
        width:0%;
    }
    100%{
        width:70%
    }
}

@keyframes css{
    0%{
        width:0%;
    }
    100%{
        width:87%
    }
}

@keyframes glow{
    0%{
        background:var(--secon-bg-color);
        box-shadow:none;
    }
    100%{
        background: var(--hover-color);
        box-shadow:var(--neon-box-shadow);
    }
}

@keyframes floatImage{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-1.9rem);
    }
    100%{
        transform:translateY(0);
    }

}